<div class="container section">

  <h1>Product Search</h1>
  <%= render 'search/form' %>
  <br><br>
  <div class="row">
    <% if @products.blank? %>
      <center>
        <h4>No products found matching <%= params[:q] %>.</h4>
      </center>
    <% end %>
  </div>

  <div class="row">
    <% @products.each do |product| %>
      <div class="col-md-3">
        <%= link_to(product) do %>
        <div class="product-listing">
          <center><%= image_tag product.image.url(:small)%></center>
          <h4>
            <%= product.title %>
          </h4>
          <h3>
            $<%= product.price %>
          </h3>
        </div>
        <% end %>
      </div>
    <% end %>
  </div>

</div>
