<div class="homepage">
  <div class="container">
    <div class="row">
      <div class="homepage-heading">
        What are you looking for? <br>
        Find it here.
        <p>Browse. Search. Buy. Done.</p>
      </div>
    </div>
    <%= render 'search/form' %>
  </div>
</div>

<div class="container section">
  <h1>New Products</h1>
  <div class="row">
    <% @products.each do |product| %>
    <div class="col-md-3">
      <%= link_to(product) do %>
      <div class="product-listing">
        <center><%= image_tag product.image.url(:small)%></center>
        <h4>
          <%= product.title %>
        </h4>
        <h3>
          $<%= product.price %>
        </h3>
      </div>
      <% end %>
    </div>
    <% end %>
  </div>
</div>
