<div class="row">
  <div class="col-md-4">
    <div class="panel panel-default">
      <div class="panel-heading">
        <center>
          <%= image_tag get_avatar_url(@vendor), class:"image-circle img-responsive"%>
          <h3><%= @vendor.fullname%></h3>
        </center>
      </div>
      <div class="panel-body">
        <%= @vendor.description %>
      </div>
    </div>
  </div>

  <div class="col-md-8">
    <div class="panel panel-default">
      <div class="panel-heading">
          <h3>Products (<%= @products.length %>)</h3>
      </div>
      <div class="panel-body">
          <div class="row">
            <% @products.each do |product| %>
            <div class="col-md-5">
              <div class="panel panel-default">
                <div class="panel-heading">
                  <center>
                    <%= image_tag product.image.url(:small) %>
                  </center>
                </div>
                <div class="panel-body">
                  <center>
                    <h4><%= link_to product.title, product_path(product) %></h4>
                  </center>
                </div>
              </div>
            </div>
            <% end %>
          </div>
      </div>
    </div>
  </div>
</div>
