
<div class="panel panel-default">
  <div class="panel-heading">
    <h2>Add Your Product</h2>
  </div>
  <div class="panel-body">
    <%= form_for @product do |f| %>
      <% if @product.errors.any? %>
        <div class="alert alert-info">
          <h3>
            Fix the following <%= pluralize(@product.errors.count, "error") %> before continuing:
          </h3>
          <ul>
            <% @product.errors.full_messages.each do |msg| %>
              <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
      <% end %>
    <% end %>
  </div>
  <div class="panel-body">
    <%= form_for @product do |f| %>
      <div class="form-group">
        <label>Title</label>
        <%= f.text_area :title, placeholder: "Check out my new project", rows: '2', class: "form-control"%>
      </div>
      <div class="form-group">
        <label>Description</label>
        <%= f.text_area :description, rows: '5', class: "form-control"%>
      </div>
      <div class="form-group">
        <label>Pricing</label>
        <div class="select-control">
          <%= f.select :price, [['$20', '20'], ['$30', '30'], ['$40', '40'], ['$50', '50']], class: "form-control" %>
        </div>
      </div>
      <div class="form-group">
        <label>Requirements</label>
        <%= f.text_area :requirements, rows: '5', class: "form-control"%>
      </div>
      <div class="form-group">
        <label>Upload Image</label>
          <%= f.file_field :image %>
      </div>
      <%= f.submit "Add Product", class: 'btn btn-primary'%>
    <% end %>
  </div>
</div>
