<div class="panel panel-default">
  <div class="panel-heading">
    <h3>Add a Review</h3>
  </div>
  <div class="panel-body">
    <%= form_for([@product, @product.reviews.new]) do |f| %>
      <div id="star-rating"></div><br/>
      <div class="form-group">
        <%= f.text_field :star %>
        <%= f.text_area :comment, rows: 3, class: "form-control" %><br>
        <%= f.hidden_field :product_id, value: @product.id %>
        <%= f.submit "Add Review", class: "btn pull-right" %>
      </div>
    <% end %>
  </div>
</div>

<script type="text/javascript">
  $('#star-rating').raty({
    path: '/assets',
    scoreName: 'review[star]',
    score: 1
  });
</script>
